body {
    background-color: thistle;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
    color:black;
    text-align: center;
}
p {
    color:black;
    font-size: 20px;
}
.box {
    height: 100px;
    width: 100px;
    float: left;
    text-align: center;
    margin: 5 px;
    padding: 5px;
    }
#info1 {
    background-color: rgb(14, 104, 14);
    }
#info2 {
    background-color: rgb(25, 65, 17);
    }
#info3 {
    background-color: rgb(23, 190, 23);
    }
